<div>
    <div class="page-header">
        <h1>Grocery Management System
            <small>Edit</small>
        </h1>
    </div>
    <br/>


    <form name="editForm" novalidate class="form-inline">
        <div class="form-group">
            <label for="name">Name:</label>
            <input id="name" class="form-control" type="text" 
            name="name" placeholder="name" ng-model="ctrl.item.name" 
            required>
        </div>
        <div class="form-group">
            <label for="brand">Brand:</label>
            <input id="brand" class="form-control" type="text" 
            name="brand" placeholder="Brand" ng-model="ctrl.item.brand" 
            required>
        </div>
        <div class="form-group">
            <label for="upc12">upc12:</label>
            <input id="upc12" class="form-control" type="number"
             name="upc12" placeholder="upc12" ng-model="ctrl.item.upc12" 
             required>

        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-info form-control" 
            ng-disabled="editForm.$invalid" ng-click="ctrl.save()">
                Save
            </button>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control" ng-click="ctrl.cancel()">
                Cancel
            </button>
        </div>
    </form>

</div>