<!--<div class="container" ng-controller="SearchDBCtrl as ctrl">-->
<div class="container">

    <div class="page-header">
        <h1>Grocery Management System
            <small>SearchDB</small>
        </h1>
    </div>

    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <input id="searchStringBrand" class="form-control" size="50" type="text" name="searchStringBrand" ng-model="ctrl.searchStringBrand"
                placeholder="Enter Brand Name">
        </div>
        <div>
            <input id="searchStringPn" class="form-control" size="50" type="text" name="searchStringPN" ng-model="ctrl.searchStringPN"
                placeholder="Enter Product Name">
        </div>

        <div class="row">
            <div class="form-group">
                <label for="Sort By">Sort By:</label>
                <label class="radio-inline">
                    <input type="radio" name="name" ng-model="ctrl.sortBy" value="name">Name
                </label>
                <label class="radio-inline">
                    <input type="radio" name="brand" ng-model="ctrl.sortBy" value="brand">Brand
                </label>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="Ascending/Descending">Ascending/Descending:</label>
                <label class="radio-inline">
                    <input type="radio" name="asc" ng-model="ctrl.asc" value="ASC">Ascending
                </label>
                <label class="radio-inline">
                    <input type="radio" name="desc" ng-model="ctrl.asc" value="DESC">Descending
                </label>
            </div>
        </div>


        <div class="form-group row">
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid" ng-click="ctrl.search()">
                Search
            </button>
            <!--<button class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.searchForManager()">
                Search with Department Manager Info
            </button>-->
        </div>
    </form>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Brand</th>
                <th>upc12</th>
                <th>Barcode</th>
                <th>Edit</th>
                <!--<th ng-show="ctrl.showManager">Department Manager Id</th>-->
                <!--<th ng-show="ctrl.showManager">Department Manager Name</th>-->

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in ctrl.shopList">
                <td><span>{{item.name}}</span></td>
                <td><span>{{item.brand}}</span></td>
                <td><span>{{item.upc12}}</span></td>
                <td><img ng-src="http://www.barcodes4.me/barcode/c128a/{{item.upc12}}.png?IsTextDrawn=1" /></td>
                <td><button class="btn btn-info form-control" ng-click="ctrl.editGo(item.id)">Edit</button></td>
                <!--<td><span>{{item.name}}</span></td>-->
                <!--one way of doing is (with custom function)-->
                <!--<td><a href="" ng-click="ctrl.editGo(dept.dept_no)">{{dept.dept_no }}</a></td>-->
                <!--without custom functions-->
                <!--much cleaner way (WITHOUT CUSTOM FUNCTION) STATENAME({<paramKey>:<param>})-->
                <!--<td><a href="" ui-sref="editWithParams({dept_no:dept.dept_no})">{{dept.dept_no }}</a></td>-->
                <!--<td>{{ dept.dept_name }}</td>-->
                <!--<td>-->
                <!--<span ng-show="ctrl.showManager">-->
                <!-- Handles display of departments that have not been assigned any manager -->
                <!--{{ dept.managers[0] ? dept.managers[0].emp_no : " "}}-->
                <!--</span>-->
                <!--</td>-->
                <!--<td>-->
                <!--<span ng-show="ctrl.showManager">-->
                <!-- Handles display of departments that have not been assigned any manager -->
                <!--{{ dept.managers[0]
                ? (dept.managers[0].employee.first_name + " " + dept.managers[0].employee.last_name)
                : " "}}
            </span>-->
                <!--</td>-->
            </tr>
        </tbody>
    </table>
</div>